/**
Global table background removed
 */
td {
    background-color: transparent !important;
    font-size: 12px;
}

tr:hover {
    background-color: #fdf9fc !important;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.promo{
    display:flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 5px;
}
.promo input{
    width: 100%;
    border: none;
}

.promo svg{
    cursor: pointer;
}